*{
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

/* скрываю текст и птичку, оставляю только заголовки лабел */
.tab input,
.tab-content {
    display: none;
}

.tab {
    /* background: ; */
    background-color: bisque;
    color: burlywood;
    border-radius: 5px;
    margin-bottom: 10px;
    text-transform: uppercase; /*сделаем все буквы большими*/

}

.tab-title {
    padding: 10px 15px; /*не сработает если не сделать лабел блочным*/
    display: flex; /*лабел стал блочным*/

}