*{
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

/* скрываю текст и птичку, оставляю только заголовки лабел */
.tab input,
.tab-content {
    display: none;
}

.tab {
    /* background: ; */
    background-color: bisque;
    color: burlywood;
    border-radius: 5px;
    margin-bottom: 10px;
    text-transform: uppercase; /*сделаем все буквы большими*/

}

.tab-title {
    padding: 10px 15px; /*не сработает если не сделать лабел блочным*/
    display: flex; /*лабел стал блочным*/
    justify-content: space-between;
    font-weight: bold;

    position: relative;

    cursor: pointer;

}

.tab-title::after {
    content: '+';
}

.tab-content {
    padding: 10px 15px;
}

.tab :checked + .tab-title {
    background-color: aliceblue;
    color: brown;
    border-radius: 5px;

    }

.tab :checked + .tab-title::after {
    content: '-';
}

.tab :checked ~ .tab-content {
    display: block;
}



/******************************************************************************************************/
/******************************************************************************************************/
/******************************************************************************************************/

.accordion {
    margin: 0;
    margin-bottom: 1.5rem;
    padding: 0;
    list-style: none;
  }
  .accordion_item {
    border-bottom: 1px solid #5a95fd;
  }
  .accordion_item:last-of-type {
    border-bottom: none;
  }
  /**
  * Элемент label который запускает открыть/закрыть.
  */
  .accordion_trigger {
    display: block;
    background-color: #007ccf;
    color: #ddd;
    font-weight: normal;
    cursor: pointer;
    padding: 1.2em;
  }
   
  /* меняем цвет фона у активного переключателя */
   
  .accordion_toggle:checked ~ .accordion_trigger {
    background-color: #006bb3;
  }
   
  /**
   * эти элементы radio/checkbox всегда должны быть скрыты.
   */
  .accordion_toggle {
    position: absolute;
    display: none;
  }
  /**
  * скрытое содержание аккордеона.
  */
  .accordion_target {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    background-color: #ddd;
    color: #444;
  }
  /**
  * когда переключатель checked на radio/checkbox, показать содержимое аккордеона.
  */    
  .accordion_toggle:checked ~ .accordion_target {
    position: static;
    overflow: visible;
    clip: auto;
    margin: auto;
    padding: 1.2rem;
    width: auto;
    height: auto;
  /* задержка появления  функция анимации */
    -webkit-animation:fadeIn ease-in 0.5s; 
    -moz-animation:fadeIn ease-in 0.5s;
    animation:fadeIn ease-in 0.5s; 
  }
  /* анимация при появлении блоков с содержанием */
  @-moz-keyframes fadeIn {
      from { opacity: 0; }
  to { opacity: 1 }
  }
  @-webkit-keyframes fadeIn {
      from { opacity: 0; }
  to { opacity: 1 }
  }
  @keyframes fadeIn {
      from { opacity: 0; }
  to { opacity: 1 }
  }